{% extends 'base.html' %}

{% block title %}Vizualiser | Dashboards{% endblock %}

{% block body %}
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-5">Dashboards</h1>
    <div class="w-50">
      <ul class="list-group g-1 border border-light overflow-auto p-2">
      {% for d in dashboards %}
        <a href="/dashboard/{{d.name}}" class="text-decoration-none text-white mb-1"><li class="list-group-item bg-dark shadow p-2 rounded text-center fs-3 bg-opacity-75">
          {{d.name}}
        </li></a>
      {% endfor %}
    </ul>
    </div>
  </div>
{% endblock %}